* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-weight: 400;
    color: black; 
}

#wrapper {
    overflow: hidden;
    width: 100%;
    height: auto;
}

img {
    display: block;
}

a {
    display:inline-block;
}

h1 {
    font-size: 65px;
    line-height: 70px;
    font-weight: 600;
    padding-bottom: 25px;
}

.container-accelerate {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 800px;
}

.main-btn {
    display: flex;
    justify-content: space-between;
}

.accelerate-txt {
    display: flex;
    flex-direction: column;
    width: 50%;
    
}

.accelerate-txt>span {
    padding: 25px 0;
}

.main-text {
    font-size: 25px;
    padding: 25px 0;
}


.accelerate-img {
    display: flex;
    flex-direction: column;
    width: 40%;
}

