.btn {
    width: 35%;
    text-align: center;
}

.btn-nav-white {
    border: 1px solid black;
    color: black;
    font-weight: 600;
    font-size: 16px;
}

.btn-nav-red {
    border: 1px solid #FF6336;
    background: #FF6336;
    color: white;
    font-weight: 600;
    font-size: 16px;
}

.btn-main {
    width: 25%;
    padding: 15px 0;
}