header {
    font-size: 15px;
    border: 1px solid rgb(194, 194, 194);
    
}

nav {
    justify-content: space-between;
    display: flex;
    flex-wrap: nowrap;
}

nav>div {
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.nav-left {
    justify-content: space-evenly;
    width: 55%;
    line-height: 20px;
}
.nav-btn {
    justify-content: space-evenly;
    width: 20%;
    line-height: 45px;
}

