body {
    color: #000;
    font-family: Graphik LCG, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal; 
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1380px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
    display: inline-block;
    font-weight: 600;
}

.column {
    display: flex;
    flex-direction: column;
}