li {
    list-style: none;
}

.btn {
    font-weight: 600;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    box-shadow: 0 0 1px rgb(0 0 0 / 0%);
    border: 1px solid orange;
    min-width: 120px;
    padding: 11px 10px;
    @media (min-width:1024px) {
        padding: 16px 10px;
        font-size: 16px;
    }

    &--orange {
        background: #FF6336;
        color: #fff;
    }
    &--white {
        border: 1px solid rgb(184, 184, 184);
    }

    &--black {
        background: black;
        color:#fff;
    }
}

.btn-wrapp {
    padding: 0;
    margin: -5px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    @media (min-width:1024px) {
        flex-wrap: nowrap;
    }

    li {
        padding: 5px;
        text-align: center;
        align-self: center;
        align-items: center;
    }
}

.header-btn {
    display: none;
    @media (min-width:1024px) {
        display: flex;
        align-self: flex-end;
    }
}