@import './mixins';
@import './normalize';
@import './fonts';
@import './base';
@import './buttons';
@import './header';


.title {
    padding: 20px;
    text-align: center;
    @media (min-width:1024px){
        padding: 120px 0 120px 0;
        text-align: start;

        &__image {
            text-align: center;
            display: flex;
        }
    }
}

.title-wrapp {
    display: flex;
    flex-direction: column-reverse;
    @media (min-width:1024px) {
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        
        & .main-heading {
            display: flex;
            flex-direction: column;
            max-width: 560px;
            align-items: flex-start;
    
            p {
                font-size: 26px;
            }
        }
    }
}



.features {
    display: block;
    padding-top: 15px;
    font-size: 12px;
    opacity: 0.7;
    @media (min-width:1024px) {    
        font-size: 16px;
        line-height: 18px;        
    }

}


.subtitle {
    background:#FF9C7D;
    text-align: center;

    &-wrapp {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 40px 0 40px;

        h2 {
            padding: 0 0 20px;
            width: 100%;
            margin: auto;
        }

        .brand {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            padding: 0;
           

            li {
                width: 100%;
                padding: 20px;
            }
        }
    }

    @media (min-width:768px) {

        .brand {
            padding: 0;

            li {
                width: calc(100% / 3 - 4px);
                padding: 20px;
            }
        }
    }



    @media (min-width:1024px) {
        
        &-wrapp { 
            padding: 80px 0 80px;
            
            h2 {
                padding: 0 0 60px;
                width: 50%;
            }
            
            .brand {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                padding: 0;
                

                li {
                    width: calc(100% / 5);
                    padding: 0;
                    transition: all .5s ease-in-out;

                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
 
}

.reverse {
    flex-direction: row-reverse;
}

.card {
    display: flex;
    padding-bottom: 40px;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 13px;

    &--title{
        width:100%;

        p{
            a {
                border-bottom: 1px solid black;
                &:hover {
                    color: #FF6336;
                } 
            }
        }
    }
    &--img {
        width: 100%;
        padding: 20px 30px;
    }

    a {
        &:hover {
            color: #FF6336;
        }
    }
    @media (min-width:1024px) {    
        text-align: left;  
        width: 100%;
        padding-bottom: 150px;
        padding-top: 150px;
        justify-content: space-between;
        flex-direction: row;
        font-size: 20px;
    
        &--title {
            width:40%;
            display: flex;
            flex-direction: column;
            justify-content: center; 
            align-items: flex-start;
        }
    
        &--img {
            width: 40%;
        }
    
        &--span {
            line-height: 30px;
            font-weight: 600;
        }
    }
}
.reverse {
    @media (min-width:1024px) {
        flex-direction: row-reverse;        
    }
}

.lokalise , .sub-lokalise {
    text-align: center;
    background: #FFF8E4;
    padding: 40px 0;
    font-size: 20px;
    @media (min-width:1024px) {
        padding: 120px 0;
    }

    &--frames {
        display: block;
        padding: 40px 0 0; 
        margin: 0 -60px;
        p{
            a {
                border-bottom: 1px solid black;
                &:hover {
                    color: #FF6336;
                }
            }               
        }
        a {
            &:hover {
                color: #FF6336;
            }
        }
        @media (min-width:1024px){
            display: flex;
            flex-wrap: wrap;
            align-items: center;
           
        }
    }

    &--frame {
        display: flex;
        flex-direction: column;
        padding: 20px 60px;
        @media (min-width:1024px){
            width: calc(100%/3);
        }
    }
}

.sub-lokalise {
    background: #fff;
    &--frames {
        text-align: center;
        @media (min-width:1024px){
            text-align: left;
        }
    }
    
    &--frame {
        align-items: center;
        @media (min-width:1024px){
            align-items: flex-start;
        }
    }
}

.chief-info{
    background: #C9E8F2;
    font-size: 30px;
    
    &-block {
        display: flex;       
        align-items: center;
        flex-direction: column-reverse;
        text-align: center;
        @media (min-width:1024px){
            padding: 50px 0 100px;
            flex-direction: row;
            justify-content: space-between;
            text-align: left;
        }

        span{
            font-size: 15px;
            padding: 20px 0;
        }
    }
    &-title {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        width: 60%;
        
        @media (min-width:1024px){
            align-items: flex-start; 
            a {
                transition: all .5s ease-in-out;
                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }
    &-img {
        width: 100%;
        justify-content: center;
        display: flex;
        padding: 20px 0;
        @media (min-width:1024px){
            justify-content: flex-end;
            width: 30%;
            padding: 0;
        }
    }
}

.managment{
    background: #DABC98;
    }

.managment-wrapp {
    display: flex;
    justify-content: space-between;
    padding: 90px 0;
    flex-direction: column;
    @media (min-width:1024px){
        flex-direction: row;
    }

    &-block {
        display: flex;
        align-items: center;  
        flex-direction: column;
        text-align: center;
        @media (min-width:1024px){
            flex-direction: row;
            margin: 0 -40px;
        }

        a{
            padding: 0 40px;
        }
        &_more {
            border-top: 1px solid black ;
            padding-top: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 -20px;

            a {
                padding: 0 20px;
            }

            @media (min-width:1024px){
                border-top:none;
                flex-direction: row;
                padding-top: 0;
                border-left: 1px solid black;
                justify-content: flex-end;

                a {
                    transition: all .5s ease-in-out;
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
}

.integrate {
    font-size: 25px;
    padding: 120px 0;

    h2 {
        @media (min-width:1024px){
            font-size: 65px;
        }
    }
    &-block {
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    &-title {
        width: 70%;
        text-align: center;
        margin: 10px 0;
    }

    a {
        margin: 10px 0;
    }

}
.try-it{

    padding: 40px 0;
    background: #FF9C7D;
    @media (min-width:1024px){
        padding: 120px 0;
        font-size: 20px;
    }
    h2 {

        @media (min-width:1024px){
            font-size: 65px;
        }
    }
    .try-block {
        width: 100%;
    }
}

 .footer-wrapp {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    

    @media (min-width:1024px){
        flex-direction: row;
        padding: 90px 0;
    }

    .case-studies {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
        padding: 10px 0;
        @media (min-width:1024px){
            width: 23%;
            font-size: 20px;
            align-items: flex-start;
            text-align: left;
            border: none;
            padding: 0;
            
            a {
                padding: 5px 0;
                &:hover {
                    color: #FF6336;
                }
            }
        }
    }
       
        a{
            padding: 0;
            font-weight: 600;
        }

        &-block {
            align-items: center;

            @media (min-width:768px){
                align-items: flex-start;
            }
        }

        &-list {
            padding: 0;  
            font-size: 10px;
            text-align: center;
            align-items: center;
            flex-wrap: wrap;
            transition: all .5s ease-in-out;

            @media (min-width:768px){
                align-items: flex-start;
                flex-direction: row;
                margin: 0 -10px;
            }
            @media (min-width:1024px){
                padding: 20px 0;
                flex-direction: column;
                font-size: 16px;
            }
            li {
                padding: 5px 10px;
                @media (min-width:768px){
                    padding: 10px 10px;
                }
                
                a {
                    font-weight: normal;
                    &:hover {
                        color: #FF6336;
                    }
                }
            }
        }
    }

 .footer-lokalise {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid black;
    font-size: 8px;

    @media (min-width:768px){
        font-size: 10px;
    }
    
    @media (min-width:1024px){
        font-size: 16px;
        padding: 20px 0;
    }

    .footer-logo {
        display: flex;
        width: 100%;
        padding-right: 5px;
        align-items: center;

        @media (min-width:425px){
            padding-right: 20px;
        }

        @media (min-width:768px){
            padding-right: 40px;
        }

        span {
            @media (min-width:1024px){
                width: 30%;   
            }
        }
    }

    .footer-reserved {
        display: flex;
        
        @media (min-width:1024px){
            flex-direction: column;
            width: 15%;
            align-items: flex-start;
        }

    }
 }
